<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.css">
  {block name='style'}{/block}
	<script type="text/javascript" src="__STATIC__/js/jquery-3.2.1.js" ></script>
	<script type="text/javascript" src="__STATIC__/js/bootstrap.js" ></script>
</head>
<body>
<div class="container header">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">登录</a></li>
	  <li role="presentation"><a href="#">注册</a></li>
	</ul> 
</div>

{block name='content'}{/block}

<div class="container footer">
	 <div class="row">
	 	  <div class="col-md-12">12ge</div> 
	 </div>
	
</div>
{block name='js'}

{/block}

</body>
</html>

