<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	验证码</title>
</head>
<body>
	<div ><img  onclick="jjj()" id="img" src="{:captcha_src()}" alt="captcha" /></div>
	<form action="hhh">
		<input type="text" name="yanzheng">验证码<br/>
		<input type="text" name="name">姓名<br/>
		<input type="text" name="age">年龄<br/>
		<input type="text" name="class">班级<br/>
		<input type="submit" value="验证" >
	</form>
	<script type="text/javascript">
		 function jjj()
		 {    
		 	document.getElementById('img').src="{:captcha_src()}?a="+Math.random()*10000; 
		 	var ss="{:captcha_src()}?a="+Math.random()*10000;
		 	console.log(ss);

		 }
	</script>
</body>
</html>